@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.headingPrimary {
  font-size: 42px;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  color: #111c63;
  padding-bottom: 30px;
}

.headingPrimary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100px;
  background: #1dcbb6;
  border-radius: 100px;
}
